<div class="row">
  <div class="col-md-4">
    <%= form_for(Message.new) do |f| %>
    
      <div class="msg-board">
        <div class="msg-content">
          <label for="name">Name</label> <%= f.text_field :name, :placeholder => "Name", class: "msg-name" %>
        </div>
        <div class="msg-content">
          <label for="body">Comment</label> <%= f.text_area :body, :placeholder => "Leave a message!", class: "msg-textarea" %>
        </div>
        <div class="msg-content">
          <%= f.submit class: "btn btn-lg btn-primary msg-submit" %>
        </div>
      </div><!--msg-board-->
      
      <% if @message.errors.present? %>
        <div class="alert alert-danger">
          <%= alert %>
          <ul>
            <% @message.errors.full_messages.each do |full_message| %>
              <li>
                <%= full_message %>
              </li>
            <% end %> 
          </ul>
        </div>
      <% end %>
      
    <% end %>
  </div><!--cols-md-4-->
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading">
        Latest Comments
        </div>
        <div class="panel-body">
          <% @messages.each do |message| %>
            <div class="msg-list">
              <span class="label label-info"><%= message.name %></span>
              <p><span class="msg-body"><%= message.body %></span></p>
            </div>
          <% end %>
        </div><!--panel-body-->
      </div><!--panel panel-default-->
    </div><!--cols-md-8-->
</div><!--row-->